@use "normalize"
@use "fonts"
@use "./font-awesome/fontawesome"
@use "./font-awesome/regular"
@use "./font-awesome/solid"
@use "colors"
@use "sass:color"


// SASS Mixins

// Unselectable
@mixin unselectable
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none


html
	font-family: "Helvetica Neue", "Helvetica"

iframe
	all: unset




// REACT COMPONENT STYLES

.App
	// Define grid for static UI elements
	display: grid
	grid-template-columns: 1fr 55vw 1fr
	grid-template-rows: 2em 1fr
	grid-template-areas: "Header Header Header" "LeftNav Content RightNav"

	width: 100vw
	height: 100vh

	background-color: colors.$shade-1

.Header
	// Grid defined in .App
	grid-area: Header

	display: flex
	justify-content: flex-end
	align-content: center
	padding-left: 0.75em
	padding-right: 0.75em

	background-color: colors.$mint-green
	-webkit-app-region: drag

.WindowControls
	-webkit-app-region: no-drag
	display: flex
	align-items: center
	column-gap: 0.5em
	& i
		height: fit-content
		font-size: 1.2em
		color: color.adjust(colors.$mint-green, $lightness: -20%)
		&:hover
			color: color.adjust(colors.$mint-green, $lightness: -10%)

.FileNav
	// Grid defined in .App
	grid-area: LeftNav

	//Nav list styling
	display: flex
	height: fit-content
	flex-direction: column
	align-items: flex-end
	margin-right: 0.5em
	margin-top: 2.5em

	& > span
		color: colors.$shade-4
		padding: 0.25em
		text-align: end
		@include unselectable
		&:hover
			color: colors.$shade-3
			

.ContentDisplay
	// Grid defined in .App
	grid-area: Content

	padding: 3.5em
	background-color: colors.$white
	overflow-y: auto

.InnerNav
	// Grid defined in .App
	grid-area: RightNav

.Welcome
	// Grid defined in .App
	grid-area: 2 / 1 / span 1 / span 3

	display: flex
	flex-direction: column
	padding-top: 10vh

	background-color: colors.$white

.ProjectSelector
	display: flex
	justify-content: center

// Additional custom styles

// Welcome screen hero
.hero-container
	display: contents
.hero-icon
	height: 20vh
.hero-text
	text-align: center
	margin: 0
	font-size: 10vh
	color: colors.$shade-3

// Scrollbar
::-webkit-scrollbar 
	width: 0.5em

::-webkit-scrollbar-track
	background-color: transparent

::-webkit-scrollbar-thumb
	background: colors.$mint-green
	border-radius: 0.5em
