@use "normalize"
@use "fonts"
@use "./font-awesome/fontawesome"
@use "./font-awesome/regular"
@use "./font-awesome/solid"
@use "colors"

html
	font-family: "Helvetica Neue", "Helvetica"

iframe
	all: unset

button
	display: flex
	justify-content: center
	align-items: center
	height: 2rem
	width: 80%
	padding-top: 1rem
	padding-bottom: 1rem
	border: none
	border-radius: 1rem
	background: gainsboro
	&:focus
		outline: none


// REACT COMPONENT STYLES

.App
	// Define grid for static UI elements
	display: grid
	grid-template-columns: 1fr 70em 1fr
	grid-template-rows: 3em 1fr
	grid-template-areas: "Header Header Header" "LeftNav Content RightNav"

	width: 100vw
	height: 100vh
	
	background-color: colors.$shade-1

.Header
	// Grid defined in .App
	grid-area: Header

	display: flex
	justify-content: flex-end
	align-content: center
	padding-left: 0.75em
	padding-right: 0.75em

	background-color: colors.$mint-green
	-webkit-app-region: drag

.WindowControls
	-webkit-app-region: no-drag
	display: flex
	align-items: center
	column-gap: 0.5em
	& i
		height: fit-content
		font-size: 1.5em

.FileNav
	// Grid defined in .App
	grid-area: LeftNav

	//Nav list styling
	display: flex
	flex-direction: column
	align-items: center
	gap: 1rem

.ContentDisplay
	// Grid defined in .App
	grid-area: Content

	padding: 3.5em
	background-color: colors.$white
	overflow-y: auto

.InnerNav
	// Grid defined in .App
	grid-area: RightNav

.Welcome
	// Grid defined in .App
	grid-area: 2 / 1 / span 1 / span 3

	display: flex
	flex-direction: column
	padding-top: 10vh

	background-color: colors.$white

.hero-container
	display: contents

.hero-icon
	height: 20vh

.hero-text
	text-align: center
	margin: 0
	font-size: 10vh
	color: colors.$shade-3
		
