@use "normalize"
@use "fonts"
@use "colors"

html
	font-family: "Helvetica Neue", "Helvetica"

iframe
	all: unset

button
	display: flex
	justify-content: center
	align-items: center
	height: 2rem
	width: 80%
	padding-top: 1rem
	padding-bottom: 1rem
	border: none
	border-radius: 1rem
	background: gainsboro
	&:focus
		outline: none


// REACT COMPONENT STYLES

.App
	// Define grid for static UI elements
	display: grid
	grid-template-columns: 1fr 70em 1fr
	grid-template-rows: 3em 1fr
	grid-template-areas: "Header Header Header" "LeftNav Content RightNav"

	width: 100vw
	height: 100vh
	
	background-color: colors.$shade-1

.Header
	grid-area: Header
	background-color: colors.$dark-green

.FileNav
	// Grid defined in .App
	grid-area: LeftNav

	//Nav list styling
	display: flex
	flex-direction: column
	align-items: center
	gap: 1rem

.ContentDisplay
	// Grid defined in .App
	grid-area: Content

	padding: 3.5em
	background-color: colors.$white
	overflow-y: auto

.InnerNav
	// Grid defined in .App
	grid-area: RightNav
